In [1]:
import pandas as pd

In [7]:
pd.read_csv(r'C:\Users\adisa\OneDrive\Desktop\Fifa python.txt',sep='\t')

  Name  Position Squadnumber Age
0    Ronaldo Forward 7         36
1    Messi Forward  10         34
2   Benzema Forward 9          34
3    Lewandowski Forward 9     35
4     Sadio Mane  Forward      27
5     De Bruyne   Midfield     26